<%= turbo_frame_tag 'athlete' do %>
  <%= form_with model: @athlete, data: { turbo: true } do |form| %>
    <%= form.submit 'Tallenna' %>
    <div class="field">
      <%= form.label :event, "Päälaji" %>
      <%= form.text_field :event %>
    </div>
    <div class="field">
      <%= form.rich_text_area :content %>
    </div>
  <% end %>
<% end %>