<%= turbo_frame_tag 'athlete', class: 'grid athletes', autoscroll: true, data: { autoscroll_block: 'start' } do %>
  <div class='col-1-13'>
    <p class='subtitle'><%= link_to "Takaisin edustusurheilijoiden p채채sivulle", athletes_path, target: '_top' %></p>
  </div>

  <aside class='col-1-4 aside'>
    <h3 data-dropdown-id='athletes-dropdown' class='dropdown-button'>Urheilijasivut</h3>
    <div id='athletes-dropdown' class='dropdown'>
      <%= render partial: 'athletes_list', locals: { replace_history: true } %>
    </div>
  </aside>

  <article class='col-4-13'>
    <h2>Edustusurheilija</h2>
    <h1 class='maintitle'><%= @athlete.fullname %></h1>
    <%= form_with model: @athlete do |form| %>
      <%= form.submit 'Tallenna', class: 'btn' %>
      <div class="field">
        <%= form.label :event, "P채채laji" %>
        <%= form.text_field :event %>
      </div>
      <div class="field">
        <%= form.rich_text_area :content %>
      </div>
    <% end %>
  </article>
<% end %>