<h1>Edustusurheilijat</h1>
<div class='grid athletes'>
  <p class='col-1-13'><%= link_to "Takaisin edustusurheilijoihin", athletes_path %></p>
  
  <aside class='col-1-4 aside'>
    <h2 id='dropdown-button' class='dropdown-button'>Urheilijat</h2>
    <div id='dropdown' class='dropdown'>
      <%= render partial: 'athletes_list', locals: { athletes: Athlete.all } %>
    </div>
  </aside>

  <%= turbo_frame_tag 'athlete', class: 'col-4-13' do %>
    <h1 class='maintitle'><%= @athlete.fullname %></h1>
    <%= form_with model: @athlete do |form| %>
      <%= form.submit 'Tallenna', class: 'btn' %>
      <div class="field">
        <%= form.label :event, "Päälaji" %>
        <%= form.text_field :event %>
      </div>
      <div class="field">
        <%= form.rich_text_area :content %>
      </div>
    <% end %>
  <% end %>
</div>