<div class='grid athletes-show'>
  <aside class='col-1-4 aside'>
    <h2 id='dropdown-button' class='dropdown-button'>Urheilijasivut</h2>
    <div id='dropdown' class='dropdown'>
      <%= render partial: 'athletes_list', locals: { athletes: Athlete.all } %>
    </div>
  </aside>

  <article class='col-4-13'>
    <%= turbo_frame_tag 'athlete' do %>
        <div>
          <h1 class='maintitle'><%= @athlete.fullname %></h1>
          <span class='subtitle'><%= @athlete.event %></span>
        </div>
        <div><%= @athlete.content %></div>
        <%= link_to "Muokkaa", edit_athlete_path(@athlete) %>
    <% end %>
  </article>
</div>
