<% set_meta_tags title: ['Seuraennätykset', @league],
  description: "Selaa sarjan #{@league} seuraennätyksiä.",
  keywords: %w(laitila jyske laitilan\ jyske yleisurheilu seuraennätykset ennätykset) + [@league],
  index: true,
  follow: true,
  og: {
    type: 'website',
    title: :title,
    description: :description,
    image: image_url('/images/records.jpg'),
    url: league_records_url(@league.parameterize),
    site_name: :site
  }
%>

<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/records.jpg") center center/cover'>
  </div>
<% end %>


<%= turbo_frame_tag 'records', class: 'grid', autoscroll: true, data: { autoscroll_block: 'start' } do %>
  <section class='col-1-13'>
    <h1 class='maintitle'>Seuraennätykset - <%= @league %></h1>
    <p class='subtitle'><%= link_to "Takaisin seuraennätysten pääsivulle", records_path, target: '_top' %></p>
  </section>

  <aside class='col-1-4 aside'>
    <% Record::LEAGUES_BY_GENDER.each do |gender, leagues| %>
      <h3 data-dropdown-id='<%= "#{gender}-dropdown" %>' class='dropdown-button'><%= gender %></h3>
      <div id='<%= "#{gender}-dropdown" %>' class='dropdown'>
        <%= render partial: 'leagues_list', locals: { leagues: leagues, replace_history: true }  %>
      </div>
    <% end %>
  </aside>

  <section class='col-4-13'>
    <p class='small'>Klikkaamalla taulukon riviä, pääset tarkastelemaan kyseisellä rivillä olevan lajin TOP 10 listaa.</p>
    <div class="table-wrapper">
      <table class='table'>
      <caption><%= @league %></caption>
        <thead>
          <tr>
            <th>Laji</th>
            <th>Urheilija</th>
            <th>Tulos</th>
            <th>Paikkakunta</th>
            <th>Päivämäärä</th>
          </tr>
        </thead>
        <tbody>
          <% Record::DISCIPLINES_BY_LEAGUE[@league].each do |discipline| %>
            <% @records[discipline].each_with_index do |record, idx| %>
              <tr class="<%= 'recent' if record.achieved_at > 1.year.ago %>" onclick="Turbo.visit('<%= top_ten_records_path(@league.parameterize, discipline: discipline.parameterize) %>')">
                <% if idx == 0 %>
                  <td rowspan="<%= @records[discipline].length %>"><%= discipline %></td>
                <% end %>
                <td><%= record.athlete %></td>
                <td><%= record.result %></td>
                <td><%= record.location %></td>
                <td><%= record.achieved_at.day == 1 && record.achieved_at.month == 1 ? record.achieved_at.year : l(record.achieved_at) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>
