<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/records.jpg") center center/cover'>
  </div>
<% end %>

<h1>Seuraennätykset</h1>

<div class='grid athletes'>
  <p class='col-1-13'><%= link_to "Takaisin seuraennätyksiin", records_path %></p>

  <aside class='col-1-4 aside'>
    <% Record::LEAGUES_BY_GENDER.each do |gender, leagues| %>
      <h3 data-dropdown-id='<%= "#{gender}-dropdown" %>' class='dropdown-button'><%= gender %></h3>
      <div id='<%= "#{gender}-dropdown" %>' class='dropdown'>
        <%= render partial: 'leagues_list', locals: { leagues: leagues }  %>
      </div>
    <% end %>
  </aside>

  
  <section class='col-4-13'>
    <p class='small'>Klikkaamalla taulukon riviä, pääset tarkastelemaan kyseisellä rivillä olevan lajin TOP 10 listaa.</p>
    <div class="table-wrapper">
      <table class='table'>
      <caption><%= @league %></caption>
        <thead>
          <tr>
            <th>Laji</th>
            <th>Urheilija</th>
            <th>Tulos</th>
            <th>Paikkakunta</th>
            <th>Päivämäärä</th>
          </tr>
        </thead>
        <tbody>
          <% Record::DISCIPLINES_BY_LEAGUE[@league].each do |discipline| %>
            <% @records[discipline].each_with_index do |record, idx| %>
              <tr class="<%= 'recent' if record.achieved_at > 1.year.ago %>" onclick="Turbo.visit('<%= discipline_records_path(@league.parameterize, discipline.parameterize) %>')">
                <% if idx == 0 %>
                  <td rowspan="<%= @records[discipline].length %>"><%= discipline %></td>
                <% end %>
                <td><%= record.athlete %></td>
                <td><%= record.result %></td>
                <td><%= record.location %></td>
                <td><%= record.achieved_at.day == 1 && record.achieved_at.month == 1 ? record.achieved_at.year : l(record.achieved_at) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
