<div class='list-event'>
  <div class='list-event-details' data-action='click->event#get' data-event-id="<%= event.id %>">
    <a class='event-title'><%= event.title %></a>
    <time class='small'><%= event.formatted_dates %></time>
    <% if event.registration_due %>
      <time class='small'>Ilmoittautuminen <%= l(event.registration_due, format: :short) %> mennessä.</time>
    <% end %>
  </div>
  <a class='btn' target='_blank' href="<%= event.registration_url %>">Lisätietoa</a>
</div>
