<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/events.jpg") center 40%/cover'>
  </div>
<% end %>

<h1>Tapahtumat</h1>

<%= turbo_frame_tag 'calendar-frame' do %>
  <p class='small'>Klikkaamalla tapahtuman nimeä saat tarkempaa tietoa kyseisestä tapahtumasta.</p>
  
  <%= render partial: 'calendar_nav', locals: { year: @year, month: @month } %>

  <div class='calendar'>
    <% t('date.day_names').rotate(1).each do |weekday| %>
      <div class='dayname'><%= weekday %></div>
    <% end %>
    <% @dates.each do |date| %>
      <div class='wday-<%= date.cwday %><%= ' not-in-month' if date.month != @month %>'>
        <div class='day<%= ' cday' if date == Date.today %>'><%= date.day %></div>
        <% @events[date].each do |event| %>
          <%= render partial: 'calendar_event', locals: { event: event } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
