<% set_meta_tags title: 'Tapahtumat',
  description: 'Osallistu Laitilan Jyskeen yleisurheilujaoston järjestämiin harjoituksiin tai Varsinais-Suomessa järjestettäviin kilpailuihin.',
  keywords: %w(laitila jyske laitilan\ jyske yleisurheilu harjoitukset yleisurheiluharjoitukset kilpailut Varsinais-Suomi),
  index: true,
  follow: true,
  og: {
    type: 'website',
    title: :title,
    description: :description,
    image: image_url('/images/events.jpg'),
    url: events_url,
    site_name: :site
  }
%>

<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/events.jpg") center 40%/cover'>
  </div>
<% end %>

<h1 class='maintitle'>Tapahtumat</h1>
<p class='subtitle'><%= link_to "Takaisin etusivulle", root_path, target: '_top' %></p>

<%= turbo_frame_tag 'calendar-frame' do %>
  <p>
    Oheiseen kalenteriin on merkattu sinisellä värillä kaikki yleisurheilujaoston järjestämät harjoitukset ja
    yleisurheilijoille varatut harjoitusvuorot. Lisäksi kalenteriin on merkattu punaisella värillä Varsinais-Suomessa
    järjestettäviä kilpailuja, joihin kannattaa osallistua. Klikkaamalla tietyn tapahtuman nimeä saat tarkempaa tietoa kyseisestä tapahtumasta.
  </p>
  
  <%= render partial: 'calendar_nav', locals: { year: @year, month: @month } %>

  <div class='calendar' data-controller='event'>
    <% t('date.day_names').rotate(1).each do |weekday| %>
      <div class='dayname'><%= weekday %></div>
    <% end %>
    <% @dates.each do |date| %>
      <div class='wday-<%= date.cwday %><%= ' not-in-month' if date.month != @month %>'>
        <div class='day<%= ' cday' if date == Date.today %>'><%= date.day %></div>
        <% @events[date].each do |event| %>
          <%= render partial: 'calendar_event', locals: { event: event } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
