<h1><%= t('.greeting', recipient: @resource.fullname || @resource.email) %></h1>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
