<!DOCTYPE html>
<html>
  <head>
    <title>Laitilan Jyske - Yleisurheilu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <header class='header'>
      <div class='header-bar container'>
        <%= image_tag '/images/logo.svg', alt: 'Laitilan Jyskeen logo', class: 'header-logo' %>
        <h1 class='header-title'>Laitilan Jyske</h1>
        <div id='hamburger' class='hamburger'><div class='hamburger-bar'></div></div>
      </div>
      <div class='header-subbar'>
        <h2>Yleisurheilujaosto</h2>
      </div>
      <nav id='main-nav' class='navbar'>
        <ul class='navbar-links'>
          <li><%= active_link_to 'Etusivu', root_path, active: [static: :index] %></li>
          <li><%= active_link_to 'Edustusurheilijat', athletes_path %></li>
        </ul>
      </nav>
      <%= yield :jumbotron %>
    </header>

    <main class='container'>
      <%= yield %>
    </main>
  </body>
</html>
